@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

.home-main {
    width: 100%; 
    height: 100vh;
    top: 6rem;
    padding: 0 45px;
    overflow: hidden;
}  
.home-image { 
    width: 100%;
    top: 6rem;
    height: 100%;
    position: relative; 
    overflow: hidden;
}

.home-image .home-image-1 {
    position: absolute;
    top: 9%;
   right: 2%;
    opacity: 0;
    scale: 0.9;
    z-index: 1;
}
 
.home-image .home-image-1 img {
    width: 820px; 
}

.home-image .home-image-2 {
    position: absolute;
    bottom: 24%;
   right:7%;
    z-index: 1;
    opacity: 0;
}

.home-image .home-image-2 img {
    width: 500px;
}

.Background-Blur {
    opacity: 0;
    display: flex;
    align-items: end;
    justify-content: center;
    width: calc(100% - 8%);
    height: calc(100vh - 8rem);
    position: absolute;
    z-index: 2;
    top: 7rem;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow:  0 0px 5px 2px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 2px solid rgba(255, 255, 255, 0.3);
}
 
.home-title {
    opacity: 0;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    padding-left: 10px;
    transition: 0.3s ease-in-out;
    top: 8rem;
    z-index: 4;
    width: 50%;
    border-radius: 16px;
    height: calc(100vh - 6rem);
}

.home-title img {
 opacity: 0; 
 scale: 0;  
 width: 100px;
}

.home-title h1, .home-title h2, .home-title h3{
    position: relative;
    overflow: hidden;
    width: 85%;
    text-transform: uppercase;
    text-align: start;
    top:100px;
    font-size: 75px;
    /* background-color: #FF5530; */
     height: 100px;
     text-shadow: 0px 5px 5px black;
    opacity: 0;
    font-family: 'Ubuntu', sans-serif;
    line-height: 1.4;
    text-align: center;
    display: flex;
    font-weight: 700;
    /* align-items: center; */
    /* justify-content: center; */
}

.home-title span {
    cursor: pointer;
    background-color: #FF5530;
  border: 3px solid orange;
    color: white;
    border-radius: 50px;
    padding: 22px;
    font-size: 30px;
}

.home-main h5 {
    position: absolute;
    bottom: 5%;
    left: 50%;
    width: 220px;
     height: 60px;
     display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transform: translate(-50%, 0);
    font-size: 25px;
    border-radius: 30px;
    position: absolute;
    z-index: 5;
    transition:  0.3s ease-in-out;
    font-family: 'Ubuntu', sans-serif;
}
.home-main h5:hover{
    cursor: pointer;
    border: 5px solid orangered;
}
.home-main .Background-Blur .scrollDownBtn{
    position: relative;
    width: 13%;
    height: 8%;
    visibility: hidden;
    margin-bottom: 5%;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
   font-weight: 700;
   border: 2px solid orangered;
   transition: 0.5s ease-in-out;
  color: black;
}
.home-main .Background-Blur .scrollDownBtn:hover{
    border-color: gray;
    font-weight: 900;
    color: white;
    background-color: orangered;
}

@media screen and (max-width:1420px) {
    .home-title img {
        width: 90px;
    }
    
    .home-title h1, .home-title h2, .home-title h3{
        font-size: 70px;
    }
    .home-image .home-image-1 {
        top: 13%;
        left: 40%;
    }
    .home-image .home-image-2 {
        bottom: 18%;
        right: 5%;
    }
}

@media screen and (max-width:1335px) {
    .home-image .home-image-1 img {
        width: 700px;
    }
    .home-image .home-image-2 img {
        width: 450px;
    }
    .home-image .home-image-1 {
        top: 13%;
        left: 40%;
    }
    .home-image .home-image-2 {
        bottom: 18%;
        right: 5%;
    }
}

@media screen and (max-width: 1230px) {
    .home-image .home-image-1 img {
        width: 650px;
    }
    .home-image .home-image-2 img {
        width: 400px;
    }
    .home-title img {
        width: 80px;
    }
    .home-title h1, .home-title h2, .home-title h3 {
        font-size: 55px;
        height: 85px;
    }
    .home-title span {
      
        font-size: 25px;}
    .home-image .home-image-1 {
        top: 5%;
        left: 32%;
    }
    .home-image .home-image-2 {
        bottom: 25%;
        right: 5%;
    }
    .home-main h5 {
        bottom: 0%;
    }
}

@media screen and (max-width:992px) {
    .home-image .home-image-1 img {
        width: 500px;
    }
    .home-image .home-image-2 img {
        width: 300px;
    }
    .home-title img {
        width: 60px;
    }
    .home-title h1, .home-title h2, .home-title h3 {
        font-size: 50px;
    }
    .home-image .home-image-1 {
        top: 10%;
        left: 40%;
    }
    .home-image .home-image-2 {
        bottom: 40%;
        right: 5%;
    }
}

@media screen and (max-width: 768px) {
    .home-image .home-image-1 img {
        width: 450px;
    }
    .home-image .home-image-2 img {
        width: 290px;
    }
    .home-title img {
        width: 55px;
    }
    .home-title h1, .home-title h2, .home-title h3 {
        font-size: 40px;
        height: 65px;
    }
    .home-image .home-image-1 {
        top: 15%;
        left: 35%;
    }
    .home-image .home-image-2 {
        bottom: 40%;
        right: 6%;
    }
    .home-title span {  
        font-size: 18px;
    }
    .home-main h5 {
        bottom: 0%;
    }
}

@media screen and (max-width:576px) {
    .home-image .home-image-1 {
        top: 15%;
        left: 2%;
    }
    .home-image .home-image-1 img {
        width:  100%;
    }
    .home-image .home-image-2 {
        bottom: 27%;
        left: 12%;
    }
    .home-image .home-image-2 img {
        width: 240px;
    }
    .home-title {
        padding-left: 0px;
        align-items: center;
        width: 80%;
        height: calc(100vh - 6rem);
    }
    .home-title img {
        width: 40px;
        position: absolute;
        z-index: 5;
        top: 0%;
        left: 45%;
        transform: translate(0%,50%);
    }
    .home-title h1, .home-title h2, .home-title h3 {
        height: 45px;
        font-size: 32px;
        transform: translateY(-28px);
    }
    .home-title span {
        padding: 10px;
        font-size: 17px;
        margin-right: 5px;
    }
    .home-main h5 {
        font-size: 15px;
        bottom: -30px;
    }

}