:root{
    --white:#fff;
    --black:#000;
}

.navbar-main{
    width: 100%;
    height: 6rem;
    background-color: white;
    box-sizing: border-box;
    padding: 0 35px;
}

nav{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border-bottom: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-navigation{
    display: flex;
    align-items: center;
    gap: 25px;
}

.navbar-navigation .icon3{
    display: none;
    background-color: var(--white);
    color: var(--black);
    transition: all 0.3 ease;
} 

.navbar-navigation i {
    padding: 15px;
    background-color: var(--black);
    color: var(--white);
    border-radius: 50%;
    cursor: pointer;
    border: 1px solid transparent;
    transition: all 0.5s ease;
    font-size: larger;
}

.navbar-navigation i:hover{
   transform: scale(1.2);
   background-color: var(--white);
   color: var(--black);
   border: 1px solid var(--black);
   border-radius: 50%;
}

.navbar-main span{
    font-size: 30px;
    font-weight: 700;
}

.navbar-right{
    display: flex;
    align-items: center;
    gap: 20px;
}

.navbar-searbar{
    border-radius: 30px;
    box-shadow: 0 2px 6px rgba(136, 148, 171, 0.2), 0 24px 20px -24px rgba(71, 82, 107, 0.1);
    display: flex;
    align-items: center;
    padding: 10px;
}

.navbar-searbar input{
    width: 250px;
    padding: 10px;
    border: none;
    box-sizing: border-box;
    border-radius: 30px;
    
}

.navbar-searbar i{
    font-size: 30px;
}

.navbar-hamburger i{
    font-size: 30px;
}

@media  screen and (max-width: 1230px) {
    .navbar-navigation i {
        font-size: large;
        padding: 12px;
    }
    .navbar-searbar,.navbar-searbar input{
        padding: 8px;
    }
    .navbar-searbar i{
        font-size: 25px;
    }
    
    .navbar-hamburger i{
        font-size: 25px;
    }
}

@media screen and (max-width:992px) {
    .navbar-navigation{
        gap: 15px;
    }
    .navbar-searbar input{
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .navbar-searbar{
        display: none;
    }
    .navbar-main span{
        display: none;
    }
    .navbar-hamburger i{
        font-size: 30px;
    }
}

@media screen and (max-width:576px) {
    .navbar-navigation{
       gap: 0;
    }
    .navbar-navigation .icon2{
         display: none;
    } 
    .navbar-navigation .icon3{
        display: initial;
   } 
}