.navbar-container {
  position: sticky;
  width: 100%;
  display: flex;
  justify-content: center;
  /* overflow: hidden; */
  align-items: center;
  height: 6.25rem;
  top: 0px;
  background-color: black;
  border-bottom: 1px solid white;
}
.navbar-container .Navbar-Left {
  position: relative;
  width: 20%;
  padding: 10px;
  height: 100%;
}
.navbar-container .Navbar-Left > .icon-links-container {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.navbar-container .Navbar-Left > .icon-links-container > .icon-link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  opacity: 1;
  text-decoration: none;
  font-size: 19px;
  border-radius: 50%;
  width: 50px;
  border: 2px solid wheat;
  transition: 0.3s ease-in-out;
}
.navbar-container .Navbar-Left > .icon-links-container > .icon-link:hover {
  font-size: 25px;
  box-shadow: 0px 0px 5px 3px red;
}
.navbar-container .Navbar-Left > .icon-links-container > .icon-link > a {
  position: relative;
  opacity: 1;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: white;
  text-decoration: none;
}
.navbar-container .Navbar-middle {
  position: relative;
  width: 40%;
  height: 100%;

  padding: 10px;
}
.navbar-container .Navbar-middle > .nav-links {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  z-index: 1;
  gap: 10px;
  justify-content: start;
  align-items: center;
}
.navbar-container .navLink-BackGround-Slider {
  position: absolute;
  width: 35%;
  z-index: -1;
  opacity: 0;
  height: 80%;
  background-color: white;
  transform: translateX(-1100px);
  border-radius: 100px 10px 100px 10px;
  transition: 2s ease-in-out;
}
.navbar-container .navLink-BackGround-Slider-toggle {
  position: absolute;
  width: 35%;
  opacity: 1;
  z-index: -1;
  height: 80%;
  transform: translateX(-220px);
  background-color: white;
  transition: 1s ease-in-out;
  border-radius: 10px 100px 10px 100px;
}
.navbar-container .Navbar-middle > .nav-links li {
  position: relative;
  list-style: none;
  font-size: 19px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100px;
  height: 60px;
  background-color: rgb(12, 20, 18);
  border-radius: 10px;
  transition: 0.3s ease-in-out;
}
.navbar-container .Navbar-middle > .nav-links li:hover {
  font-size: 22px;
}
.navbar-container .Navbar-middle > .nav-links li > span {
  position: absolute;
  bottom: 10px;
  width: 0%;
  height: 1px;
  transition: 0.3s ease-in-out;
  background-color: red;
}
.navbar-container .Navbar-middle > .nav-links li:hover > span {
  width: 80%;
}
.navbar-container .Navbar-middle > .nav-links li > a {
  color: white;
  padding: 20px;
  text-decoration: none;
  transition: 0.3s ease-in-out;
}
.navbar-container .Navbar-middle > .nav-links li > a:hover {
  color: red;
}
.navbar-container .Navbar-Right {
  display: flex;
  padding: 10px;
  color: white;
  width: 40%;
  height: 100%;
}
.navbar-container .Navbar-Right .Navbar-Search-Bar {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 100%;
}
.navbar-container .Navbar-Right .Navbar-Search-Bar input {
  position: relative;
  width: 70vw;
  outline: none;
  font-size: 18px;
  opacity: 1;
  padding: 5px 30px;
  padding-right: 65px;
  border: none;
  border-radius: 50px;
  height: 72%;
}
.navbar-container .Navbar-Right .Navbar-Search-Bar > i {
  position: relative;
  font-size: 30px;
  float: left;
  left: -3vw;
  opacity: 1;
  width: 2.5vw;
  text-align: center;
  cursor: pointer;
  color: black;
}
.navbar-container .Navbar-Right .Navbar-Hamburger-menu {
  width: 20%;
  height: 70%;
  cursor: pointer;
  font-size: 35px;
  padding: 10px;
  cursor: pointer;
}
.navbar-container .Navbar-Right .Navbar-Hamburger-menu .Navbar-Hamburger-line,
.navbar-container
  .Navbar-Right
  .Navbar-Hamburger-menu
  .Navbar-Hamburger-middle-line {
  position: relative;
  width: 50%;
  margin: 10px 0px;
  height: 3px;
  background-color: azure;
  transition: 0.3s ease-in-out;
}
.navbar-container
  .Navbar-Right
  .Navbar-Hamburger-menu
  .Navbar-Hamburger-middle-line {
  position: relative;
  width: 25%;
}
.line1 {
  position: relative;
  width: 50%;
  margin: 10px 0px;
  height: 3px;
  background-color: azure;
  transition: 0.5s ease-in-out;
  transform: rotate(45deg) translate(18px, 10px);
}

.line2 {
  opacity: 0;
}
.line3 {
  position: relative;
  width: 50%;
  margin: 10px 0px;
  height: 3px;
  background-color: azure;
  transition: 0.5s ease-in-out;
  transform: rotate(-45deg) translate(0px, 10px);
}
/* responsiveness start here  */
@media screen and (min-width: 769px) and (max-width: 1028px) {
    .navbar-container .Navbar-Left > .icon-links-container {
        gap: 10px;
    }
    .navbar-container .Navbar-Right .Navbar-Search-Bar {     
        width: 75%;
    }
  .navbar-container .Navbar-Right .Navbar-Search-Bar > i { 
    left: -5vw;
  }
  .navbar-container .navLink-BackGround-Slider-toggle {
    width: 40%;
    height: 70%;
    opacity: 1;
    transform: translateX(-105px);
}
.navbar-container .Navbar-middle > .nav-links {

    justify-content: center;
}
.navbar-container .Navbar-middle > .nav-links li {
    font-size: 18px;
    width: 80px;
    height: 50px;
    
}
.navbar-container .Navbar-Right .Navbar-Hamburger-menu {
    margin-left: 22px;
}
.navbar-container .Navbar-Right .Navbar-Hamburger-menu .Navbar-Hamburger-line {
    width: 60%;
}
.navbar-container .Navbar-Right .Navbar-Search-Bar input {  
    margin-left: 40px;}
 };

  /* @media screen (max-width: 769px) {
    .navbar-container {
      background-color: aquamarine;
    }
  } */

